main {
    font-family: 'Jockey One', sans-serif;
    figure {
        margin: 0;
    }

    header {
        .open-menu {
            position: fixed;
            left: 16px;
            top: 13px;
            z-index: 4;
            width: 35px;
            height: 25px;
            opacity: 0;
        }
        .hamburger-menu {
            width: 35px;
            height: 35px;
            background: transparent;
            border: 0;
            position: fixed;
            left: 10px;
            top: 10px;
            z-index: 4;
            pointer-events: none;
        
            span {
                display: block;
                width: 35px;
                height: 5px;
                background-color: #FFF236;
                border-radius: 6px;
                margin-bottom: 4px;
            }
        }
        input:checked+.menu button.hamburger-menu span {
            position: absolute;
            transition: all 0.3s ease-in-out;
        }
        
        input:checked+.menu button.hamburger-menu span:nth-child(2) {
            opacity: 0;
        }
        
        input:checked+.menu button.hamburger-menu span:nth-child(1) {
            transform: rotate(45deg);
        }
        
        input:checked+.menu button.hamburger-menu span:nth-child(3) {
            transform: rotate(-45deg);
        }
        
        input:checked+.menu nav {
            visibility: visible;
            opacity: 1;
        }
        h1 {
            background-color: black;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            text-align: center;
            z-index: 3;
            position: fixed;
            width: 100vw;
            height: 1.5em;
            margin: 0;
            padding-top: 0.2em;
            padding-left: 0.5em;
        }
        nav {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #AC77FF;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            visibility: hidden;
            z-index: 2;
        
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-size: 2em;
            }
        
            li {
                padding: 0.75em;
            }
        
        }

    }

    .page-1-grid-wrapper {

        .page-1,
        .second-paragraph,
        .explore {
            background-color: black;
            text-align: center;
            margin: 0;
            border-left: 5px solid #FFF236;
            border-right: 5px solid #FFF236;
        }
    
        .page-1 {
    
            .page-title {
                margin: 0;
                padding-top: 12em;
                text-transform: uppercase;
                position: relative;
                min-width: 100px;
                min-height: 100px;
                z-index: 1;
            
                div {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
            
                }
            
                .drizzle,
                .chickpeas {
                    position: absolute;
                }
            
                .drizzle {
                    color: #ac77ff;
                    font-size: 2.7em;
                    top: -18px;
                    right: 3px;
                }
            
                .tahini {
                    color: #02FF39;
                    font-size: 7rem;
                }
            
                .chickpeas {
                    color: #ff0;
                    font-size: 2.72em;
                    left: 15px;
                    bottom: -6px;
                    z-index: -1;
                }
            }
    
            .first-paragraph, .second-paragraph {
                font-size: 1.75em;
            }
            .first-paragraph {
                color: #02FF39;
                margin-bottom: 1em;
                padding: 0 50px;
            }
        
            .second-paragraph {
                color: #AC77FF;
                background-color: white;
                margin-top: 1em;
                padding: 10px 30px 0;
        
                .explore-menu {
                    display: block;
                    text-transform: uppercase;
                    color: black;
                    margin: 0;
                }
        
                .arrow-2 {
                    rotate: 90deg;
                    height: 15px;
                }
            }
            figure {
                .arrow-1 {
                    display: none;
                }
            }

    
        }
       
    }

}


.page-2 {
    background-color: #FFF236;

    .photo-grid {
        display: grid;
        grid-template-columns: 27% 35% 35%;
        gap: 1.5%;
        margin-left: 0.3em;
        margin-right: 0.3em;
        padding-top: 0;

        figure {
            width: 100%;
            height: 75%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                top: 16%;
            }
        }
    }

    .food-menu {
        padding-bottom: 0.5em;

        .food-item {
            background-color: white;
            border-top: solid 2px black;
            border-bottom: solid 2px black;
            margin: 0.5em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: 4em;

            :nth-child(1) {
                grid-column-start: span 2;
                padding-left: 5px;
            }

            :nth-child(2) {
                grid-column-start: span 4;
                padding-left: 5px;
            }

            :nth-child(3) {
                grid-row-start: 1;
                grid-column-start: 4;
                justify-self: end;
                padding-right: 5px;
            }

            :nth-child(4) {
                grid-row-start: 1;
                grid-column-start: 3;
                justify-self: start;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0;
        }

        .price {
            font-size: 1.5rem;
            margin: 0;
        }

        .new,
        .vegan,
        .popular {
            font-family: 'Courier New', Courier, monospace;
            text-transform: uppercase;
            display: inline-block;
            height: 100%;
            margin-top: 1em;
            height: 1em;
        }

        span {
            display: inline-block;
            margin: 0;
        }

        .new {
            background-color: #AC77FF;
            padding: 0 15px;
            transform: rotate(2.5deg);

            span {
                transform: rotate(-2.5deg);
            }
        }

        .vegan {
            background-color: #02FF39;
            padding: 0 12px;
            transform: rotate(-3deg);

            span {
                transform: rotate(3deg);
            }
        }

        .popular {
            background-color: #FFF236;
        }

        p:not(.price) {
            font-family: 'Roboto Condensed', sans-serif;
            margin: 0;
        }

        .price {
            font-size: 1.5rem;
        }

        :nth-child(1) {
            margin-top: 0;
        }

        :nth-child(7) {
            margin-bottom: 0;
        }
    }
}

.page-3 {
    background-color: #02FF39;

    form {
        text-transform: uppercase;
        font-size: 1.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 0.7em;
        width: 400px;
        margin: auto;
        padding: 1em 0;

        legend {
            grid-column-start: span 4;
            font-size: 1.5em;
        }

        label {
            grid-column-start: 1;
        }

        input:not(.cancel, .request) {
            border-radius: 10px;
            border: 0;
            grid-column-start: span 3;
            font-size: 1em;
            margin-left: 8px;
        }

        .cancel,
        .request {
            text-transform: uppercase;
            border-radius: 10px;
            border: 0;
            grid-column-start: span 2;
        }

        .cancel {
            background-color: #AC77FF;
            margin-right: 5px;
        }

        .request {
            background-color: #FFF236;
            margin-left: 5px;
        }
    }

    .contact {
        width: 450px;
        margin: auto;
        background-image: url('../../assets/photos/resized/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg');
        background-size: cover;
        background-position: center;

        .contact-text {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: #29BCEA;
            text-shadow: black -1.5px -1.5px;
            align-self: center;
            padding: 50px 0;
            backdrop-filter: blur(2px);
            box-shadow: 0 0 5px 5px #02FF39 inset;
        }

        span {
            font-size: 3em;
            font-weight: bold;
            display: block;
            grid-column-start: 1;
            justify-self: end;
            padding: 20px 0;
        }

        p {
            font-size: 2em;
            margin: 0;
            padding: 20px 30px;
        }

        .street-address {
            padding-right: 105px;
        }
    }

}

.cookies {
    background-color: #AC77FF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        padding: 0 1em;
    }

    .cookie-buttons {
        padding-right: 5px;
    }

    button {
        text-transform: uppercase;
        border-radius: 10px;
        border: 0;
        height: 1.4em;
        width: 6em;
        font-size: 1.5em;
        margin: 0.5em 0.2em;

    }

    .decline {
        background-color: #FFF236;
    }

    .accept {
        background-color: #02FF39;
    }
}