main {
    font-family: 'Jockey One', sans-serif;
}

button.hamburger-menu {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 4;
    pointer-events: none;
}

button.hamburger-menu span {
    display: block;
    width: 35px; //ändrade storlek, nu matchar inte menyn checkboxen. Ändra sen!
    height: 5px;
    background-color: yellow;
    border-radius: 6px;
    margin-bottom: 4px;
}

input.open-menu {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 4;
    width: 35px;
    height: 35px;
    opacity: 0;
}

input:checked+.menu button.hamburger-menu span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

input:checked+.menu button.hamburger-menu span:nth-child(2) {
    opacity: 0;
}

input:checked+.menu button.hamburger-menu span:nth-child(1) {
    transform: rotate(45deg);
}

input:checked+.menu button.hamburger-menu span:nth-child(3) {
    transform: rotate(-45deg);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #AC77FF;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    z-index: 2;
}

input:checked+.menu nav {
    visibility: visible;
    opacity: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}

li {
    padding: 0.75em;
}

.page-1,
.second-paragraph,
.explore {
    background-color: black;
    text-align: center;
    margin: 0;
    padding-left: 3em;
    padding-right: 3em;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;

    .first-paragraph {
        color: #5fff37;
    }

    .second-paragraph {
        color: #AC77FF;
        background-color: white;
        padding-top: 1em;
    }
}

.explore {
    display: flex;
    background-color: white;
    justify-content: center;

    .explore-menu {
        text-transform: uppercase;
        color: black;
        padding-top: 15px;
    }

    .arrow2 {
        rotate: 90deg;
        padding: 10px;
    }
}

h1 {
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 1.5em;
    margin: 0;
    padding-top: 0.2em;
    padding-left: 0.5em;
}

.page-title {
    margin: 0;
    padding-top: 7em;
    text-transform: uppercase;
    position: relative;
    min-width: 100px;
    min-height: 100px;
    z-index: 1;

    div {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .drizzle,
    .chickpeas {
        position: absolute;
    }

    .drizzle {
        color: #ac77ff;
        font-size: 1.57rem;
        top: -9px;
        right: 0px;
    }

    .tahini {
        color: #5fff37;
        font-size: 4rem;
    }

    .chickpeas {
        color: #ff0;
        font-size: 1.56rem;
        left: 8px;
        bottom: -6px;
        z-index: -1;
    }
}
/*figure {
    width: 500px;
}*/
.page-2 {
    background-color: yellow;
    div:not(.photo-grid, .new, .vegan, .popular, .photo-1, .photo-2, .photo-3) {
        background-color: white;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
        margin: 1em;
        div {
            font-family: 'Courier New', Courier, monospace;
            text-transform: uppercase;
            display: inline-block;
        }
        span {
            display: inline-block;

        }
        .new {
            background-color: #AC77FF;
            padding: 0 15px;
            transform: rotate(2.5deg);
            span {
                transform: rotate(-2.5deg);
            }
        }
        .vegan {
            background-color: #5fff37;
            padding: 0 12px;
            transform: rotate(-3deg);
            span {
                transform: rotate(3deg);
            }
        }
        .popular {
            background-color: yellow;
        }
        p:not(.price) {
            font-family: 'Roboto Condensed', sans-serif;
        }
        .price {
            font-size: 1.5rem;
        }
    }
    h3 {
        text-transform: uppercase;
        font-size: 1.5em;
    }
}
.page-3 {
    background-color: #5fff37;
    h2 {
        text-align: center;
    }
    .book-table {
        text-transform: uppercase;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            justify-content: space-between;
        }
        input {
            border-radius: 10px;
            border: 0;
        }
    }

    /*
    .book-table{
        text-transform: uppercase;
        font-size: 1.5em;
            input {
                border-radius: 10px;
                border: 0;
            }
            .cancel {
                background-color: #AC77FF;
            }
            .request {
                background-color: yellow;
            }
        }
*/
    }
